@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito" ,sans-serif ;
}
.header{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("img/fr.jpg");
    background-size: cover;
    padding-top: 20px;
    position: relative;

}
nav{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content:space-between ;

}
nav a{
    color: #fff;
    text-decoration: none;

}
.logo {
    font-size: 35px;
    font-weight: 500;
    color: #966A06;
    font-family:'Playfair Display', serif ;
    letter-spacing: 2px;
    margin-left: 20px;

}
.menu ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    font-family: 'Montserrat' , sans-serif;
}
.menu ul li{
    display: inline-block;
    list-style: none;
    padding: 8px 15px;
    


}
.menu ul li::after{
    content: '';
    width: 0%;
    height: 3px;
    background-color:#966A06 ;
    display: block;
    margin-bottom: 8px;
    transition: all .5s ease;
}
.menu ul li:hover::after{
    width: 100%;
}
.text{
    text-align: center;
    margin: auto;
    width: 80%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.text h1{
    font-size: 50px;
}
.text p{
    font-size: 20px;
    margin: 20px 40px;
    font-weight: 400;
    letter-spacing: 1px;
}
.btn{
     display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 16px 40px;
    background: transparent;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.5s ease;
    margin-top: 20px;
}
.btn:hover{
    background-color: #966A06;
    border-color: #966A06;
}
.services{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top:  50px; ;
}
.services h1{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}
.services p{
    font-size: 18px;
    color: #6e6d6d;
    padding: 10px;
    margin: 0 auto 20px;
}
.services .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    
}
.services .col{
    width: 300px;
    border-radius: 10px;
    background-color: #f5efe6;
    padding: 20px 15px;
    transition: all 0.6s ease;
    box-shadow: 0 8px 20px rgba(0,0, 0, 0.05);
}
.services .col:hover{
    transform: translateY(-8px);
}
.Collections{
     width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.Collections p{
    font-size: 18px;
    color: #6e6d6d;
    padding: 10px;
    margin: 0 auto 20px;


}
.Collections .row{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 40px;
}

.Collections .col-b{
     width: 31%;
    margin: auto;
    border-radius: 10px;
    position: relative;
    margin-bottom: 40px;
}
.Collections .col-b img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    display: block;
}
.up-layer{
    background:transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease;
}
.up-layer:hover{
    background: rgba(0,0,0,0.7);
}
.up-layer h3{
    font-weight: 600;
    color: #fff;
    font-size: 18px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    transition: all 0.5s ease;
}
.up-layer:hover h3{
    opacity: 1;
    bottom: 50%;
}
@media (max-width: 768px) {
  .cards {
    flex-direction: column;
  }

  h1 {
    font-size: 24px;
  }

  img {
    width: 100%;
  }
}


